* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    height: 80px;
    background: #eee;
    box-shadow: 0 0 5px 0 #20171f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex: 0 0 auto;
}

.shop-name {
    text-shadow: 2px 2px 3px #6b6766;
    color: #ff3531;
}

.first-latter {
    font-size: 200%;
    color: #eeb116;
}

.btn-cart {
    width: 70px;
    height: 70px;
    outline: none;
    background: url(../images/cart.png) no-repeat center;
    background-size: cover;
    border: none;
    transition: all ease .3s;
}

.btn-cart:hover {
    cursor: pointer;
    transform: scale(1.1);
}

main {
    flex: 1 0 auto;
}

.catalog {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    margin-right: 200px;
}

.total {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #ff3000;
}

.product-item {
    width: 250px;
    border: 3px dotted #887960;
    display: flex;
    justify-content: center;
    flex-flow: wrap column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    transition: all .3s ease;
}

.cart-item {
    width: 100%;
    text-align: center;
    border: 1px dotted #497288;
    display: flex;
    justify-content: right;
    flex-flow: wrap column;
    align-items: center;
    padding: 5px;
    margin: 2px;
}

.product-item:hover {
    transform: scale(1.1);
}

.product-item h3 {
    padding: 5px;
    color: brown;
    text-align: center;
}

.product-item p {
    padding: 5px;
    font-size: 18px;
    color: #ff3000;
    font-weight: 700;
    text-align: center;
}

.product-item p:after {
    content: ' руб.';
}

.cart-count:before {
    content: 'Кол-во: ';
}

.cart-count {
    padding: 5px;
    font-size: 18px;
    color: #ff7835;
    font-weight: 700;
    text-align: center;
}

.by-btn {
    border: 2px solid #ff3000;
    padding: 10px;
    margin: 15px;
    color: #20171f;
    background-color: #eeb116;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s ease;
}

.by-btn:hover {
    color: #ff3000;
    border: 2px solid #eeb116;
    background-color: #eee;
    cursor: pointer;
    outline: none;
}

footer {
    height: 80px;
    background: #eee;
    box-shadow: 0 0 5px 0 #20171f;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer h3 {
    color: #e03457;
}

footer .shop-name {
    font-size: 19px;
}

.right-side {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search-field {
    box-sizing: border-box;
    width: 200px;
    font-size: 16px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #c1201f;
}

.search-field::placeholder {
    color: #eeb116;
    font-size: 16px;
}

.search-field:placeholder-shown {
    color: #c1201f;
}

.search-field:focus {
    outline: none;
}

.btn-search {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    bottom: 5px;
    color: #c1201f;
}

.cart-block {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 2px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 5px;
    color: #ff3000;
    width: 200px;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.total {
    font-weight: 600;
    border-bottom: 2px dotted #ff3531;
    padding: 5px;
}

.notFound {
    margin: 0 auto;
    font-size: 26px;
    font-weight: 500;
    color: #ff3000;
}

.cart-item {
    width: 100%;
    border: 3px dotted #ff7835;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}

.cart-item h3 {
    padding: 3px;
    font-size: 14px;
    color: #c1201f;
}

.qty {
    width: 40px;
    height: 20px;
    font-size: 16px;

}

.invisible {
    display: none;
}



